{% extends '/base/base.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <ul>
        <li><a href="/Algorithms">Алгоритмы</a></li>
        <li><a href="/Solid">SOLID</a></li>
        <li><a href="">Принципы</a></li>
    </ul>
{% endblock %}
