{% extends '/base/base.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <ul>
        {% for task, nameTask in tasks %}
            <li><a href="/algoritms/getNeedMethod/{{ task }}">{{ nameTask }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
