{% extends '/base/base.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <p>Задачи искал на разных ресурках( habr, leetcode, ....)</p>
    <p>Посмотреь их можно в /src/classes/model/Algorithms.php</p>
    <p>На каждую задачу написаны тесты, для проверки их корректности, находятся они /src/test/AlgorithmsTest.php</p>
{% endblock %}
