{% extends '/base/base.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <ul>
        <li><a href="">Алгоритмы1</a></li>
        <li><a href="">Паттерны</a></li>
        <li><a href="">Принципы</a></li>
    </ul>
{% endblock %}
