{% extends '/base/base.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <a href="/">Назад</a>
    <h1>Solid</h1>
    <ul>
        <li><a href="SingleResponsibility">The <b>S</b>ingle Responsibility Principle</a></li>
        <li><a href="OpenClosed"><b>O</b>penClosed</a></li>
        <li><a href="LiskovSubstitution"><b>L</b>iskovSubstitution</a></li>
        <li><a href="InterfaceSegregation"><b>I</b>nterfaceSegregation</a></li>
        <li><a href="DependencyInversion"><b>D</b>DependencyInversion</a></li>
    </ul>
{% endblock %}
